<!--<p>daily-report works!</p>-->

<form #formDailyReport="ngForm" (ngSubmit)="formDailyReport.valid&&search()">
  <div class="row">
    <div class="form-group col-xs-12 col-sm-5 col-md-4 col-lg-3">
      <label for="reporter">Reporter</label>
      <select class="form-control" id="reporter" required
              name="reporter" [(ngModel)]="dailyReportForm.reporter">
        <option *ngFor="let item of reporters" [value]="item.report_to">{{item.report_to}}</option>
      </select>
    </div>
    <div class="form-group col-xs-12 col-sm-3 col-md-2">
      <label for="team">Team</label>
      <select class="form-control" id="team"
              name="team" [(ngModel)]="dailyReportForm.team">
        <option value="">All</option>
        <option *ngFor="let item of teams" [value]="item.team">{{item.team}}</option>
      </select>
    </div>
    <div class="form-group col-xs-12 col-sm-4 col-md-3">
      <label for="reportDate">Report Date</label>
      <div class="input-group">
        <input type="text" class="form-control" readonly required
               ngbDatepicker #reportDate="ngbDatepicker" (click)="reportDate.close()"
               name="reportDate" [(ngModel)]="dailyReportForm.reportDate">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="reportDate.toggle()" type="button"></button>
        </div>
      </div>
    </div>

    <!--    #reportDate="ngbDatepicker" ngbDatepicker (click)="reportDate.toggle()"-->

  </div>

  <button type="submit" class="btn btn-primary" id="searchBtn">Search</button>

</form>

<h4 *ngIf="reportResult.length > 0" style="margin-top: 20px;">{{countSiteCpac}}</h4>
<h4 *ngIf="reportResult.length > 0" style="margin-top: 20px;">{{summarize}}</h4>
<table *ngIf="reportResult.length > 0" class="table table-bordered" style="margin-top: 10px;">
  <thead>
  <tr>
    <th scope="col">Username</th>
    <!--    <th scope="col">Report to</th>-->
    <th scope="col">Location</th>
    <th scope="col">Symptom</th>
    <th scope="col">Others</th>
    <th scope="col">Submit Time</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of reportResult">
    <td>{{item.username}}</td>
    <!--    <td>{{item.report_to}}</td>-->
    <td>{{item.location}}</td>
    <td>{{item.symptom}}</td>
    <td>{{item.others}}</td>
    <td>{{item.update_date | date: 'HH:mm'}}</td>
  </tr>
  </tbody>
</table>
