<link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/sign-in/">

<!-- Bootstrap core CSS -->
<!--<link href="./login_files/bootstrap.min.css" rel="stylesheet"-->
<!--      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->

<!-- Favicons -->
<link rel="apple-touch-icon" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/apple-touch-icon.png"
      sizes="180x180">
<link rel="icon" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/favicon-32x32.png" sizes="32x32"
      type="image/png">
<link rel="icon" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/favicon-16x16.png" sizes="16x16"
      type="image/png">
<link rel="manifest" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/safari-pinned-tab.svg"
      color="#563d7c">
<link rel="icon" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/favicon.ico">
<meta name="msapplication-config" content="/docs/4.4/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#563d7c">


<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>
<!-- Custom styles for this template -->
<!--<link href="./login_files/signin.css" rel="stylesheet">-->
<style data-styled="" data-styled-version="4.2.0"></style>

<form class="form-signin" style="margin-top: 30px;" #loginForm="ngForm" (ngSubmit)="loginForm.valid&&login()">
  <!--  <img class="mb-4" src="./login_files/bootstrap-solid.svg" alt="" width="72" height="72">-->
  <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="IT One Domain User" required="" autofocus=""
         name="username" [(ngModel)]="userForm.username">
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required=""
         name="password" [(ngModel)]="userForm.password">
  <!--  <div class="checkbox mb-3">-->
  <!--    <label>-->
  <!--      <input type="checkbox" value="remember-me"> Remember me-->
  <!--    </label>-->
  <!--  </div>-->

  <small *ngIf="errorMsg" class="alert-danger">{{errorMsg}}</small>

  <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 10px;">Sign in</button>
  <!--    <p class="mt-5 mb-3 text-muted">© 2017-2019</p>-->
</form>
