<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>

<form class="form-signin" style="margin-top: 30px;" #formChangePassword="ngForm"
      (ngSubmit)="formChangePassword.valid&&changePassword()">
  <h1 class="h3 mb-3 font-weight-normal text-center">Change Password</h1>
  <label for="newPassword" class="sr-only">New Password</label>
  <input type="password" id="newPassword" class="form-control" placeholder="New Password" required autofocus
         name="newPassword" [(ngModel)]="changePasswordForm.newPassword">
  <label for="repeatPassword" class="sr-only">Repeat Password</label>
  <input type="password" id="repeatPassword" class="form-control" placeholder="Repeat Password" required
         name="repeatPassword" [(ngModel)]="changePasswordForm.repeatPassword">

  <small *ngIf="passwordInvalid" class="alert-danger">{{errorMsg}}</small>

  <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 10px;">Change Password</button>
</form>
