<!--<p>daily-submit works!</p>-->

<form #formDailySubmit="ngForm" (ngSubmit)="formDailySubmit.valid&&submitDailyForm()">
  <div class="row">
    <div class="form-group col-xs-12 col-sm-5">
      <label for="username">Username</label>
      <input type="text" class="form-control" readonly id="username"
             name="username" [(ngModel)]="dailySubmitForm.username">
      <!--    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
    </div>
    <div class="form-group col-xs-12 col-sm-4">
      <label for="submitDate">Submit Date</label>
      <input type="text" class="form-control" readonly id="submitDate"
             name="submitDate" [ngModel]="dailySubmitForm.submit_date|date:'dd / MMM / yyyy'">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-12 col-sm-5">
      <label for="location">Location</label>
      <select class="form-control" id="location" required
              name="location" [(ngModel)]="dailySubmitForm.location">
        <option value="">Please select</option>
        <option value="HOME">Home</option>
        <option value="TIPCO">Tipco Building</option>
        <option value="SCG_CPAC_BANGSON">SCG CPAC Bangson</option>
        <option value="SCG_BANGSUE">SCG Bangsue</option>
        <option value="SCG_CLIENT">SCG Client</option>
        <option value="VACATION">On vacation leave</option>
        <option value="OUTSIDE">Other</option>
      </select>
      <!--      <input type="text" class="form-control" id="location" required placeholder=""-->
      <!--             name="location" [(ngModel)]="dailySubmitForm.location">-->
      <!--      <small style="color: darkgrey;">Home or etc.</small>-->
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-12 col-sm-5">
      <label for="symptom">Symptom (Infected)</label>
      <select class="form-control" id="symptom" required
              name="symptom" [(ngModel)]="dailySubmitForm.symptom">
        <option value="">Please select</option>
        <option value="OK">No risk</option>
        <option value="RISK">Risk of being infected with a virus</option>
        <option value="OTHERS">Others</option>
      </select>
      <!--      <input type="text" class="form-control" id="symptom" required placeholder=""-->
      <!--             name="symptom" [(ngModel)]="dailySubmitForm.symptom">-->
      <!--      <small style="color: darkgrey;">OK or NOT</small>-->
    </div>
    <div class="form-group col-xs-12 col-sm-7">
      <label for="others">Others</label>
      <input type="text" class="form-control" id="others" maxlength="50"
             name="others" [(ngModel)]="dailySubmitForm.others">
      <small style="color: darkgrey;">If you are in risk, please describe</small>
    </div>
  </div>

  <small *ngIf="isSubmitted" class="alert-success">You are already submitted for
    today {{dailySubmitForm.update_date|date:'HH:mm'}}</small>
  <div class="row" style="margin-top: 30px;">
    <div class="form-group col-xs-12">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
