<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">Self Report COVID-19</a>
  <a *ngIf="isLoggedIn" class="navbar-text" routerLink="daily-submit">Submit</a>
  <a *ngIf="isLoggedIn" class="navbar-text" routerLink="daily-report">Report</a>

  <form *ngIf="isLoggedIn" class="form-inline ">
    <button class="btn btn-outline-light " style="margin: 0 5px 0 5px;"
            routerLink="change-password">
      Change Password
    </button>
    <button class="btn btn-outline-light " (click)="logout()">
      Logout
    </button>
  </form>
</nav>

<div style="margin: 30px;">
  <router-outlet></router-outlet>
</div>

<p class="mt-5 mb-3 text-muted" style="margin: 20px;">© 2019 | Powered by chaiphet.saeoun</p>
